language: python
dist: xenial
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "pypy"
  - "pypy3"
cache: pip
install:
  - pip install tox-travis
  - pip install -r requirements.txt
  - if [[ $TRAVIS_PYTHON_VERSION = *-dev ]]; then
      printf '\n\n    CONSTANT = ignore\n' >> $VIRTUAL_ENV/lib/python*/site-packages/pyflakes/checker.py;
    fi
script:
  - flake8 . --ignore=E501,E402
  - tox
after_success:
  - coveralls
